@model ProjetoFinal.Models.FechamentoCaixa

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastrar</h1>

<h4>Fechamento do Caixa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataFechamento" class="control-label"></label>
                <input asp-for="DataFechamento" class="form-control" />
                <span asp-validation-for="DataFechamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorInicial" class="control-label"></label>
                <input asp-for="ValorInicial" class="form-control" />
                <span asp-validation-for="ValorInicial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorFinal" class="control-label"></label>
                <input asp-for="ValorFinal" class="form-control" />
                <span asp-validation-for="ValorFinal" class="text-danger"></span>
            </div>
            <div class="form-group d-grid gap-2 d-md-block mt-3">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary ms-3">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
